.profile-dropdown {
  position: absolute;
  background-color: rgb(78, 78, 230);
  margin-left: -98px;
  margin-top: 50px;
  color: aqua;
  list-style: none;
}

.hidden {
  display: none;
}

.Navigation-menu {
  display: flex;
  flex-direction: row;
}

 .prof-button {
  display: flex;
}
