.searchInputs {
  display: flex;
  width: 100%;
}
.search {
  width: 100%;
  height: 100%;
  margin-right: 15px;
  border-radius: 20px;
}

.search input {
  background-color: black;
  border-color: aqua;
  border-radius: 20px;
  border-right: 0px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  font-size: 18px;
  padding: 15px;
  height: 10px;
  width: 100%;
}



.search:hover {
  color: #fff;
  text-align: center;
  -webkit-animation: glows 2s ease-in-out infinite alternate;
  -moz-animation: glows 2s ease-in-out infinite alternate;
  animation: glows 2s ease-in-out infinite alternate;
}

@keyframes glows {
  from {
    box-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px deeppink, 0 0 40px #e60073, 0 0 50px red, 0 0 60px deeppink, 0 0 70px #e60073;
  }
  to {
    box-shadow: 0 0 20px #fff, 0 0 30px purple, 0 0 40px aqua, 0 0 50px purple, 0 0 60px purple, 0 0 70px aqua, 0 0 80px aqua;
  }
}



.searchIcon {
  border: 2px;
  border-style: solid;
  border-radius: 20px;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  border-color: aqua;
  border-left: 0px;
  height: 40px;
  width: 50px;
  background-color:black;
  display: grid;
  place-items: center;
}

input:focus {
  outline: none;
}

.searchIcon svg {
  font-size: 35px;
}


.dataResult {
  position: absolute;
  left: auto;
  margin-top: 5px;
  width: 382px;
  height: 200px;
  background-color: rgb(255, 255, 255);
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  overflow: hidden;
  overflow-y: auto;
}

.dataResult::-webkit-scrollbar {
  display: none;
}

.dataResult .dataItem {
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  color: black;
}

.dataItem p {
  margin-left: 10px;
}

a.dataItem {
  text-decoration: none;
}

a.dataItem:hover {
  background-color: lightgray;
}

#clearBtn {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  width: 30px;
  height: 30px;
}
