.edit-user-modal-container {
  display: flex;
  flex-direction: column;
  margin: 15px;
  border: 2px;
  border-style: dotted;
}

.edit-user-details-container {
  display: flex;
  flex-direction: column;
  margin: 20px;
}

.edit-user-labels {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.edit-user-input-boxes {
  width: 167px;
  margin-bottom: 5px;
}

.edit-user-input-select {
  width: 175px;
}

.edit-user-input-text-area {
  width: 169px;
  height: 40px;
}

.edit-user-input-date {
  width: 171px;
}

.edit-user-save-delete-buttons {
  display: flex;
  justify-content: space-around;
  margin-top: 10px;
}

.edit-user-info {
  display: flex;
  flex-direction: row;
  margin-left: 20px;
  margin-right: 20px;
}

.edit-user-info-text {
  width: 200px;
  margin-left: 40px;
  font-size: 15px;
}

.edit-user-title {
  text-align: center;
  animation: flicker 1.5s infinite alternate;
  color: #fff;
}

